 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="profile-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/homepage">
                Foodster
            </a>
            
        </div>
    </div>
</div>
</nav>
 <div class="container ">

  

    <div class="login">
     <div ng-show="model.alert" class="alert alert-danger">
        {{model.alert}}
      </div>

      <div ng-show="login.$invalid && login.$submitted" class="alert alert-danger">
        There were errors in your form. Please fix them in order proceed.
         <ul>

          <li ng-show="login.username.$invalid && login.$submitted">Username is required</li>
          <li ng-show="login.password.$invalid && login.$submitted">Password is required</li>
        </ul>
      </div>

       <form name="login" ng-submit="model.login(model.user.username,model.user.password)" novalidate>
      <h1>Login</h1>

        <input ng-model="model.user.username" type="text"
               class="form-control" name="username"
               placeholder="username" required/>
        <input ng-model="model.user.password" type="password" name="password"
               class="form-control"
               placeholder="password" required/>
       <!-- <a ng-click="model.login(model.user.username,model.user.password)" class="btn btn-success btn-block">Login</a>-->
         <input type="submit"  class="btn btn-success btn-block"  value="Login">

        <!--<a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
          Google
          </a>-->

          <a href="/auth/facebook" class="btn btn-primary btn-block register">
           <span class="fa fa-facebook"></span>
              Facebook
              </a>

            <center><a href="#/register" id="register">Not a user? Sign Up Now!</a></center>
            </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class = "profile-footer">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text">
                
                <a>About | </a>
                <a>Contact Us | </a>
                <a>Feedback</a>
            </p>

        </div>
    </div>
</div>
</nav>