 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="profile-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/homepage/{{model.user._id}}">
                Foodster
            </a>
            <p class="navbar-text pull-right">
                Welcome {{model.user.username}}
            </p>
        </div>
    </div>
</div>
</nav>

 <div class="container">

    <div class="row category-cards">
      <div class="col-sm-12 fluid">
        <div class="fluid card">
          <div class="row">
            <div class="col-sm-3 display-pic">
              <img src="{{model.user.imageUrl}}" class="img-thumbnail"></img>
            </div>

            <div class="col-sm-9 text-left">

             
             <h3>{{model.user.fullName}}</h3>
             
             <p>@{{model.user.username}}</p>

             <p>{{model.user.about}}</p>
             <a ng-click="model.followUser()" class="btn btn-warning btn-xs">Follow</a>
            </div>

          </div>

          

        </div>

      </div>
    </div>
    <br><br>
    <div class="row">
            <div class="col-sm-3 category-cards">
               <div class="fluid card">
              <h4>{{model.user.username}}'s Statistics</h4>
             <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Reviews<br><br>
              <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Followers
                
               </div>

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8 category-cards">
              <div class="fluid card">
                <h4>{{model.user.username}}'s Reviews</h4>
                <div class="row">

                  <div class="fluid card user-review">
                    <h5><b>Gourmet Dumpling Kitchen</b></h5>
                    <h6>Hello. This is my webdev page</h6>
                  </div>
                </div>
                <br>
                <div class="row">

                  <div class="fluid card user-review">
                    <h6>Hello. This is my webdev page</h6>
                  </div>
                </div>

               </div>
            </div>
          </div>

    
</div>

