 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="profile-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/homepage/{{model.user._id}}">
                Foodster
            </a>
            <p class="navbar-text pull-right">
                Welcome <a href="#/profile/{{model.user._id}}">{{model.user.username}}</a>
                &nbsp;&nbsp;<a ng-click="model.logout()">Logout</a>
            </p>
        </div>
    </div>
</div>
</nav>

 <div class="container">

    <div class="row category-cards">
      <div class="col-sm-12 fluid">
        <div class="fluid card">
          <div class="row">
            <div class="col-sm-3 display-pic">
              <img src="{{model.otherUser.imageUrl}}" class="img-thumbnail"></img>
            </div>

            <div class="col-sm-9 text-left">

             
             <h3>{{model.otherUser.fullName}}</h3>
             
             <p>@{{model.otherUser.username}}</p>

             <p>{{model.otherUser.about}}</p>
              <a ng-show="model.otherUser.same == 'FALSE'" ng-disabled="model.otherUser.followed == 'TRUE'" ng-click="model.followUser(model.user._id,model.otherUser._id)" class="btn btn-default btn-xs">Follow</a>&nbsp;&nbsp;<span ng-show="model.otherUser.followed == 'TRUE'" class="glyphicon glyphicon-ok"></span>
             
            
               <!-- <div ng-if="{{model.otherUser.same}}">
                  inside true
                  <a href="#/user/{{model.user._id}}" class="btn btn-warning btn-xs">Update Profile</a>
                </div>
                <div ng-show="{{model.otherUser.same}} == false">
                  inside false
                  <a ng-click="model.followUser()" class="btn btn-default btn-xs">Follow</a>
                </div>-->
             
            </div>

          </div>

          

        </div>

      </div>
    </div>
    <br><br>
    <div class="row">
            <div class="col-sm-3 category-cards">
               <div class="fluid card">
              <h4>{{model.otherUser.username}}'s Followers</h4>
              <div ng-repeat ="follower in model.followers">
                <div class="row">

                  <div class="fluid card user-review">
                    <h5><b>{{follower.fullName}}</b></h5>
                  </div>
                </div>
                <br>
              </div>
             <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Reviews<br><br>
              <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Followers
                
               </div>

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8 category-cards">
              <div class="fluid card">
                <h4>{{model.otherUser.username}}'s Reviews</h4>
                <div ng-repeat ="review in model.reviewList">
                <div class="row">

                  <div class="fluid card user-review">
                    <h5><b>{{review.restaurant}}</b></h5>
                    <h6>{{review.review}}</h6>
                  </div>
                </div>
                <br>
              </div>

               </div>
            </div>
          </div>

    
</div>

