 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="profile-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/homepage/{{model.user._id}}">
                Foodster
            </a>
            <p class="navbar-text pull-right">
                Welcome {{model.user.username}}
            </p>
        </div>
    </div>
</div>
</nav>

<div class="container">
 <div class="row content">

    <div class="col-sm-10 text-left">
        <br>
        <div class="row restaurant-image">
            <img src="{{model.restaurant.thumb}}" class="img-rounded" height="100%" width="100%">

        </div>
        <div class="row">
            <div class="col-sm-7">
                <h3>{{model.restaurant.name}}</h3>
                <h5>{{model.restaurant.location.locality}}</h5>
                
            </div>
            <div class="col-sm-3">
                <h3>Rating</h3>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>

            </div>

           
            <hr>
        </div>

        <br>
        <div class="row">
            <div class="fluid card">
                <div class="col-md-10">
                 <a class="btn btn-success btn-md" href="#/restaurant/{{model.restaurant.id}}/reviews">Reviews</a>
                </div>
                
            </div>
        </div>
        <br>
       <div class="row category-cards">
        <div class="fluid card">
            
                <div class="col-sm-3">
                    <div class="row">
                        <h4>Phone Number</h4>
                        <h6><p>{{model.restaurant.phone_numbers}}</p></h6>

                    </div>

                    

                    <div class="row">
                        <h4>Cuisines</h4>
                        <p>{{model.restaurant.cuisines}}</p>
                    </div>
                    <div class="row">
                        <h4>Cost</h4>
                        <p>{{model.restaurant.currency}}{{model.restaurant.average_cost_for_two}} for 2</p>
                    </div>
                </div>

                <div class="col-sm-3">
                     <div class="row">
                        <h4>Opening Hours</h4>
                        <p>11 AM - 11 PM</p>
                    </div>
                    <div class="row">
                        <h4>Address</h4>
                       <p>{{model.restaurant.location.address}}</p>
                    </div>
                    
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <h4>Highlights</h4>
                        <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Has table booking</p>
                        <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Has online delivery</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="fluid card">
            <div class="row category-cards">
                <p> <h4>Write a review &nbsp;&nbsp;<span class="glyphicon glyphicon-pencil">
                </span></h4></p>
                

                <div class="row review">
                    <div class="col-sm-9">
                        <input type="text" placeholder="Write a review for this restaurant..." class="form-control" ng-model="model.review">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-danger btn-block" ng-click = "model.createReview(model.user._id,model.restaurant.id,model.review)">Publish Review</button>
                    </div>
                </div>

            </div><br><br>
        </div>

        
     
        
    </div><!--end of main content div-->

    <div class="col-sm-2 text-left"></div>

 </div>
</div>