
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="profile-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/homepage">
                Foodster
            </a>
            <p class="navbar-text pull-right">
                <a href="#/login">Login</a> &nbsp;| &nbsp;<a href="#/register">Register</a>
            </p>
        </div>
    </div>
</div>
</nav>

<div class="landing"></div>

<div class="container">
	<br>




<div class="row steps-guide">
	<div class="col-sm-4">
		<center>
			<img src= "http://www.freeiconspng.com/uploads/map-navigation-pin-point-restaurant-icon--14.png" width="20%"><br>
			<h4>Locate restaurants near you.</h4>
		</center>
	</div>
    <div class="col-sm-4">
    	<center>
    		<img src= "http://image.flaticon.com/icons/svg/45/45428.svg" width="20%"><br>
    		<h4>Enjoy your favourite cuisine</h4>
    	</center>
    </div>
    <div class="col-sm-4">
    	<center>
    		<img src= "http://www.freeiconspng.com/uploads/writing-icon-5.png" width="20%"><br>
    		<h4>Write reviews for restaurants</h4>
    	</center>
    </div>
</div><!--steps class-->

<div class="row">
	<div class="col-sm-4">
		<a class="btn btn-success btn-block" href="#/login">Login if you have an account</a>
	</div>
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
		<a class="btn btn-success btn-danger btn-block" href="#/register">Register to get started</a>
	</div>
</div>


</div><!--container class-->


